# Logs
logs
*.log
npm-debug.log*

# Editors
.vscode/

# Dependency directories
node_modules/

# Optional test coverage reports
coverage/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# OS files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
[Dd]esktop.ini
.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride
Icon[]
